<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="serviceName" source="spring.application.name"/>
    <variable scope="context" name="logPattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level][%X{correlationId}][%thread][%logger{20}][%L]: %msg%n%ex{full}"/>

    <appender name="consoleText" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.finekuo.normalcore.logging.SensitiveDataMaskingLayout">
                <pattern>${logPattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="consoleText"/>
    </appender>

    <root level="info">
        <appender-ref ref="async"/>
    </root>
</configuration>
